.mdc-top-app-bar {
    height: 55px;
    background-color: rgb(125, 0, 125);

}

.mdc-top-app-bar__section {
    padding: 3px 0px 0px 0px;
}

.mdc-top-app-bar__title {
    font-size: 30px;
    font-weight: 100;
}

.mdc-button {
    padding: 3px 0px 0px 0px;
    font-size: 15px;
    font-weight: 100;
}