body {
    margin: 0px;
    background-color: rgb(242, 242, 242);
}

.mdc-top-app-bar {
    height: 55px;
    background-color: rgb(125, 0, 125);

}

.mdc-top-app-bar__section {
    padding: 3px 0px 0px 0px;
}

.mdc-top-app-bar__title {
    font-size: 30px;
    font-weight: 100;
}

.request-button{
    position: relative;
    left: 75%;
    padding: 3px 3px 0px 3px;
    font-size: 15px;
    color: white !important;
}

.mdc-button {
    font-size: 15px;
    font-weight: 100;
}

.explain-mdc-card{
    background-color: rgba(25,0,25,0.2)
}

.mdc-card {
    margin: 5px;
}


.container-hero {
    text-align: center;
}

.container-hero-img {
    max-height: 1000px;
    width: 100%;
}



.container-explain {
    color: white;
    position: absolute;
    margin: 15px 40px 15px 40px;
    top: 150px;
    z-index: 2;
}

.container-explain2 {
    margin: 15px 40px 15px 40px;
    top: 150px;
    z-index: 2;
}


.explain-card-title{
    text-align: center;
    color: #f0f;
}

.explain-card-subtitle{
    text-align: justify;
}

.icon-wrench {
    text-align: center;
    color: rgb(125, 0, 125);
}

.fa-wrench {
    text-align: center;
    padding-top: 15px;
}

.icon-earth {
    text-align: center;
    color: rgb(125, 0, 125);
}

.fa-globe-americas {
    text-align: center;
    padding-top: 15px;
}



.how-it-works-card-title {
    text-align: center;
}

.how-it-works-card-subtitle {
    text-align: justify;
    padding: 25px;
    color: rgb(87, 87, 87);
}

.section-how-it-works{
    padding: 3px 0px 0px 0px;
}


.section-why-use-this{
     padding: 3px 0px 0px 0px;
}

.why-use-this-card-title{
    text-align: center;
}

.why-use-this-card-subtitle{
    text-align: justify;
    padding: 25px;
    color: rgb(87, 87, 87);
}

.container-form {
    margin: 15px 40px 15px 40px;
    z-index: 2;
}

.form-title{
    text-align: center;
}

.user-form {
    width: 48%;
    text-align: center;
    margin: 14px 0px 14px 0px;
    padding: 25px;
}

.request-form {
    width: 48%;
    text-align: center;
    margin: 14px 0px 14px 0px;
    padding: 25px;
}

#id_adress {
    width: 50%;
}

.footer-background {
    height: 250px;
    margin: 15px 0px 0px 0px;
    background: rgb(125, 0, 125);
}