{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <title>Hotel Share - Bem Vindo!</title>
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="../static/js/script.js"></script>
    </head>
    <body>
        <header class="mdc-top-app-bar mdc-elevation--z2">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Hotel Share</span>
                   {% comment %} <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a> {% endcomment %}
                </section>
                <section class="mdc-top-app-bar__section">
                    <button href="/list" class="mdc-button mdc-button--outlined">ver todos os pedidos</button>
                </section>
            </div>
        </header>

        <div class=".container-hero">
            <img class="container-hero-img" src="https://get.wallhere.com/photo/Dubai-cityscape-night-boat-1139462.jpg" />
        </div>


        <div class="container-explain">
            <div class="mdc-card" tabindex="0">
                <h2 class="explain-card-title mdc-typography mdc-typography--headline6">O que é Hotel Share?</h2>
                <h3 class="explain-card-subtitle mdc-typography mdc-typography--subtitle2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis arcu congue tortor
                    mattis suscipit. Morbi aliquet pellentesque risus eu mattis. Nulla gravida ipsum at enim ultricies
                    ornare. Nulla ullamcorper, diam ultricies malesuada malesuada, orci augue egestas tortor, id fermentum
                    lacus turpis a dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae; Cras viverra cursus eleifend. Quisque sit amet finibus metus. Cras euismod egestas risus eget
                    auctor. Etiam vitae interdum tortor. Maecenas neque justo, lobortis ut libero vulputate, efficitur
                    finibus nulla. Morbi sapien erat, elementum et convallis eu, hendrerit ac nibh. Duis tellus nibh,
                    ultricies id rutrum sed, mollis rutrum tellus. Praesent eleifend orci eget aliquet eleifend. Integer
                    convallis ligula a quam imperdiet rutrum et nec nibh. Nulla neque nulla, faucibus tempus risus sit
                    amet, mollis rutrum tellus. Duis lacinia elit eros, quis aliquet libero vehicula ac. Vivamus venenatis
                    velit et urna congue, eget tincidunt orci tempus. Vivamus feugiat enim at nunc consectetur, sed euismod
                    turpis luctus. Ut tellus arcu, placerat in risus ut, cursus dictum massa. Proin in viverra nisl.
                    Pellentesque quis consequat diam, quis pharetra risus. Ut iaculis fringilla mauris, ac vulputate lectus
                    semper quis. In semper velit et arcu feugiat aliquam. Nam a velit tristique, varius dui a, congue nisi.
                    Aliquam in fringilla felis, sed convallis sapien. Sed scelerisque dolor ut ligula condimentum laoreet.
                    Ut et mi risus. Mauris condimentum lorem ante, non tincidunt nisi fringilla sed.
                </h3>
            </div>
        </div>

         <div class="container-explain">
             <div class="mdc-card" tabindex="0">
                 <section class="section-how-it-works">
                     <div class="icon-wrench">
                         <i class="fas fa-wrench fa-3x"></i>
                     </div>
                     <h2 class="how-it-works-card-title mdc-typography mdc-typography--headline6">Como funciona?</h2>
                     <h3 class="how-it-works-card-subtitle mdc-typography mdc-typography--subtitle2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis arcu congue tortor mattis
                         suscipit. Morbi aliquet pellentesque risus eu mattis. Nulla gravida ipsum at enim ultricies ornare.
                         Nulla ullamcorper, diam ultricies malesuada malesuada, orci augue egestas tortor, id fermentum lacus
                         turpis a dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                         Cras viverra cursus eleifend. Quisque sit amet finibus metus. Cras euismod egestas risus eget auctor.
                         Etiam vitae interdum tortor. Maecenas neque justo, lobortis ut libero vulputate, efficitur finibus
                         nulla. Morbi sapien erat, elementum et convallis eu, hendrerit ac nibh. Duis tellus nibh, ultricies
                         id rutrum sed, mollis rutrum tellus. Praesent eleifend orci eget aliquet eleifend. Integer convallis
                         ligula a quam imperdiet rutrum et nec nibh.
                     </h3>
                 </section>

                 <section class="section-why-use-this" >
                     <h2 class="why-use-this-card-title mdc-typography mdc-typography--headline6">Por que usar?</h2>
                     <h3 class="why-use-this-card-subtitle mdc-typography mdc-typography--subtitle2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis arcu congue tortor mattis
                         suscipit. Morbi aliquet pellentesque risus eu mattis. Nulla gravida ipsum at enim ultricies ornare.
                         Nulla ullamcorper, diam ultricies malesuada malesuada, orci augue egestas tortor, id fermentum lacus
                         turpis a dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                         Cras viverra cursus eleifend. Quisque sit amet finibus metus. Cras euismod egestas risus eget auctor.
                         Etiam vitae interdum tortor. Maecenas neque justo, lobortis ut libero vulputate, efficitur finibus
                         nulla. Morbi sapien erat, elementum et convallis eu, hendrerit ac nibh. Duis tellus nibh, ultricies
                         id rutrum sed, mollis rutrum tellus. Praesent eleifend orci eget aliquet eleifend. Integer convallis
                         ligula a quam imperdiet rutrum et nec nibh.

                     </h3>
                 </section>
             </div>
         </div>

         <div>
              <form method="POST">
                {%  csrf_token %}
                {%  comment %}
                <div class="mdc-text-field">
                  <input class="mdc-text-field__input" value=""/>
                  <div class="mdc-line-ripple"></div>
                  <label class="mdc-floating-label">Nome</label>
                  {{ userForm.erros.name }}
                </div>
                {% endcomment %}

                  {{ userForm.name }}
                <br>Idade<br>
                {{ userForm.age }}
                <br>CPF<br>
                {{ userForm.cpf }}
                <br>Emaill<br>
                {{ userForm.email }}

                <button class="mdc-button mdc-button--outlined">Enviar</button>
            </form>
         </div>
        <footer>
            <div class="footer-background"></div>
        </footer>
    </body>
</html>