{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <title>Hotel Share - Bem Vindo!</title>
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="../static/js/script.js"></script>
    </head>
    <body>

    </body>
</html>